<div style="text-align:center">
    <h1> Functions </h1>
    <h2> CSCI7000-11 S23: Principles of Functional Programming </h2>
</div>

## Review

* Syntax and Semantics
* Expressions: if, let
* Definitions: let

Today

* Functions

In [2]:
let x = 2

val x : int = 2

In [3]:
let abs = fun x -> if x<0 then -1*x else x

val abs : int -> int = <fun>

In [4]:
abs

- : int -> int = <fun>

In [5]:
abs(-10)

- : int = 10

In [6]:
abs 3

- : int = 3

In [7]:
(* f e *)
abs 9

- : int = 9

In [8]:
abs (-10)

- : int = 10

In [9]:
(* Functions are values => they cannot be reduced further *)
let div_by_zero = fun x -> 4/0

val div_by_zero : 'a -> int = <fun>

In [10]:
div_by_zero 100

error: runtime_error

In [11]:
(* Values in OCaml include a special value called unit. Denoted `()`. *)
()

- : unit = ()

In [12]:
let mul_by_zero = fun () -> 4 * 0

val mul_by_zero : unit -> int = <fun>

In [13]:
mul_by_zero ()

- : int = 0

In [14]:
()

- : unit = ()

In [15]:
let (x:int list) = ()

error: compile_error

In [16]:
[1;2;3]

- : int list = [1; 2; 3]

In [17]:
let add_two =
    let x = 2 in
    (fun (y:int) -> y + x)

val add_two : int -> int = <fun>

In [18]:
add_two 4

- : int = 6

In [19]:
(2,"Hello")

- : int * string = (2, "Hello")

In [20]:
(*
k xor (k xor msg) = msg
*)
let (encrypt,decrypt) as p = 
    let k = 0x1A2B3C4D in
    let enc = fun msg -> k lxor msg in
    let dec = fun cipher -> k lxor cipher in
    (enc,dec)

val encrypt : int -> int = <fun>
val decrypt : int -> int = <fun>
val p : (int -> int) * (int -> int) = (<fun>, <fun>)

In [21]:
encrypt

- : int -> int = <fun>

In [22]:
decrypt

- : int -> int = <fun>

In [23]:
k

error: compile_error

In [24]:
let cipher = encrypt 100

val cipher : int = 439041065

In [25]:
let plaintext = decrypt cipher

val plaintext : int = 100

In [26]:
(lxor)

- : int -> int -> int = <fun>

In [27]:
("Hello":int) lxor 123

error: compile_error

In [28]:
(*
 mult takes an integer returns a function that takes an integer and returns an integer
 mult is curried function.
*)
let mult = fun a -> fun b -> a*b

val mult : int -> int -> int = <fun>

In [29]:
mult 2 3

- : int = 6

In [30]:
mult 2

- : int -> int = <fun>

In [31]:
(*
    Right Associative
 int -> int -> int  === int -> (int -> int)
*)

In [32]:
let uncurried_mult (a,b) = a*b

val uncurried_mult : int * int -> int = <fun>

In [33]:
uncurried_mult 2

error: compile_error

In [34]:
mult 2

- : int -> int = <fun>

In [35]:
let twice = mult 2

val twice : int -> int = <fun>

In [36]:
twice 3

- : int = 6

In [37]:
(mult 2) 3

- : int = 6

In [39]:
(* Function application is left associative
mult 2 3 == (mult 2) 3
*)
assert (mult 2 3 = (mult 2) 3)

- : unit = ()

In [40]:
(*
 mult takes an integer returns a function that takes an integer and returns an integer
 mult is curried function.
*)
let mult a b = a*b

val mult : int -> int -> int = <fun>

In [41]:
mult 2

- : int -> int = <fun>

In [42]:
let double = mult 2

val double : int -> int = <fun>

In [43]:
let triple = mult 3

val triple : int -> int = <fun>

In [46]:
(*
    Higher-Order functions
    
    f o g
*)

let compose f g x = f (g x)

val compose : ('a -> 'b) -> ('c -> 'a) -> 'c -> 'b = <fun>

In [ ]:
let mult3 a b c = (a * b) * c

In [48]:
let apply_twice f = compose f f

val apply_twice : ('a -> 'a) -> 'a -> 'a = <fun>

In [51]:
let quadruple = apply_twice twice

val quadruple : int -> int = <fun>

In [52]:
quadruple 2

- : int = 8

In [53]:
(1,2)

- : int * int = (1, 2)

In [56]:
let map_int_pair (f:int -> int) ((x,y):int*int) = (f x, f y)

val map_int_pair : (int -> int) -> int * int -> int * int = <fun>

In [57]:
(*
    1. map_pair is a higher-order function (combinator).
    2. Takes a function `f` as argument.
    3. Also takes a pair `(x,y)` as an argument.
     ('a -> 'c) ->'a*'a -> 'c*'c
*)
let map_pair f (x,y) = 
    let a = f x in
    let b = f y in
    (a,b)

val map_pair : ('a -> 'b) -> 'a * 'a -> 'b * 'b = <fun>

In [60]:
map_pair twice (1,2)

- : int * int = (2, 4)

In [62]:
map_pair (fun s -> String.uppercase_ascii s) ("hello", "world")

- : string * string = ("HELLO", "WORLD")

In [ ]:
Pair<T2,T2> map_pair(f:Func<T1,T2>, p:Pair<T1,T1>)

In [63]:
let foo = fun (x,y) -> (twice x, twice y)

val foo : int * int -> int * int = <fun>

In [65]:
let map_pair_polymorphic f g (x,y) = 
    let a = f x in
    let b = g y in
    (a,b)

val map_pair_polymorphic : ('a -> 'b) -> ('c -> 'd) -> 'a * 'c -> 'b * 'd =
  <fun>

In [ ]:
(*

(a,c)              (b,d)
       a ----> b
       c ----> d
*)

In [66]:
let rec factorial (n:int) = 
    if n = 0 then 1 
    else 
        let m = factorial (n-1) in
        n*m

val factorial : int -> int = <fun>

In [67]:
let rec factorial_tail (acc: int) n = 
    if n = 0 then acc 
    else 
        let a = n*acc in
        let b = n-1 in
        factorial_tail a b

val factorial_tail : int -> int -> int = <fun>

In [69]:
let factorial n = 
    let rec factorial_tail (acc: int) n = 
        if n = 0 then acc 
        else 
            let a = n*acc in
            let b = n-1 in
            factorial_tail a b in
    factorial_tail 1 n

val factorial : int -> int = <fun>

In [ ]:
(*
    ** Variant type (or algebraic type) of a list
   * Empty list [] is always a list
   * If xs is a list and x is an element x::xs is a list
*)

In [71]:
(*
 Color a variant type (a simple one)
*)
type color = 
 | Red
 | Green
 | Blue

type color = Red | Green | Blue

In [74]:
type point = float * float (* type alias *)

(*
 Shape is a variant type
     Circle, Square, Rectangle are constructors of type shape
*)
type shape = 
  | Circle of point (* center of the circle *) * float (* radius *)
  | Square of point (* left bottom point*) * float (* lenght of the side *)
  | Rectangle of point (* left bottom *) * point (* right top *)

type point = float * float

type shape =
    Circle of point * float
  | Square of point * float
  | Rectangle of point * point